@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --modal-background-color: rgba(0, 0, 0, 0.4);
    --modal-inner-background-color: #f0f5fd;
    --modal-border-radius: 15px;
    --modal-border: 3px solid rgb(72, 86, 102);
    --modal-span-close-btn-color: #aaaaaa;
    --modal-span-close-btn-active-color: rgb(35, 61, 98);
    --modal-span-close-btn-font-size: 28px;
    --modal-name-font-size: 20px;
    --modal-form-background-color: rgb(255, 255, 255);
    --modal-form-input-font-size: 17px;
    --modal-form-input-line-height: 25px;
    --modal-form-input-letter-spacing: 0.1px;
    --modal-form-input-border-radius: 5px;
    --modal-form-input-border: 1px solid #1d95c9;
    --modal-form-input-box-shadow: 0.2rem 0.8rem 1.6rem rgba(35, 61, 98, 0.06);
    --modal-form-result-task-color: #37aee2;
    --modal-form-result-total-font-size: 22px;

    --font-family-main-text: 'Nunito', sans-serif;
    --font-family-accent-text: 'Poppins', sans-serif;

    --font-color-main-text: rgb(72, 86, 102);
    --font-color-accent-text: rgb(35, 61, 98);

    --font-size-main-text: 20px;
    --font-size-accent-text: 66px;
    --font-size-module-name-mb: 23px;
    --font-size-module-name: 45px;

    --font-weight-main-text: 400;
    --font-weight-accent-text: 600;

    --letter-spacing-main-text: 0.2px;

    --line-height-main-text: 32px;
    --line-height-accent-text: 70px;
    --line-height-module-name-mb: 33px;
    --line-height-module-name: 55px;

    --module-background-color: rgb(255, 255, 255);
    --module-border-color: rgb(72, 86, 102);
    --module-border-radius: 25px;
    --module-border-width: 1px;
    --module-border-box-shadow: 0px 13px 19px 0px #00000012;

    --btn-font-size: 20px;
    --btn-font-weight: 700;
    --btn-border-radius: 0.5rem;

    --btn-task-first-color: #37aee2;
    --btn-task-second-color: #1e96c8;
    --btn-task-hover-color: #1d95c9;
    --btn-task-accent-color: #17759c;
    --btn-task-focus-color: rgb(35, 61, 98);

    --btn-execute-text-color: #1d95c9;
    --btn-execute-accent-color: #17759c;
    --btn-execute-hover-color: #ffdf00;
    --btn-execute-focus-color: #1dc959;
}