@import url(../../css/style.css);

.header__module13-task1 {
    margin-bottom: 150px;
}

.button--m13-t1 {
    min-width: 250px;
    width: auto;
}

@media (min-width: 700px) {
    .header__module13-task1 {
        margin-bottom: 200px;
    }
}