@import url(../../css/style.css);

.header__module7-task4 {
    margin-bottom: 150px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cities-counter {
    padding-bottom: 0px;
    font-size: 30px;
    line-height: 30px;
}

.select-module7-task4 {
    font-size: 12px;
    text-align: center;
}

.textarea-module7-task4 {
    background: transparent;
    color: var(--font-color-main-text);
    font-size: 16px !important;
    font-family: var(--font-family-main-text);
    letter-spacing: var(--modal-form-input-letter-spacing);
    text-align: center;
    float: left;
    width: 100%;
    min-height: 100%;
    padding-left: 5px;
    overflow: auto;
    outline: none;
    resize: none;
    border-style: none;
    border-radius: var(--modal-form-textarea-border-radius);
}


@media (min-width: 480px) {
    .select-module7-task4 {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .select-module7-task4 {
        font-size: 18px;
    }

    .textarea-module7-task4 {
        font-size: 20px !important;
    }
}

@media (min-width: 680px) {
    .wrapper {
        gap: 80px;
    }

    .select-module7-task4 {
        font-size: 20px;
    }

    .button--events {
        height: 70px;
    }

    .textarea-module7-task4 {
        font-size: 26px !important;
    }
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ef44446d;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}